@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid black; */
  font-family: "Poppins", sans-serif;
}

body{
  height: 300vh;
}

.Hero{
  background-image: url(./Img/bgHero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

#imgDest{
  transition: 0.5s;
}

#imgDest:hover{
  transform: scale(1.1);
}